<ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-item no-lines class="content">
      <h1 class="title">Menus</h1>
      </ion-item>


<ion-grid>
  <ion-row>
    <ion-col col-8>
      <ion-card *ngFor="let restaurant of restaurants" (click)="addToItems(restaurant.key)" class="restCards" >
        <ion-card-content>
          <ion-card-title color="primary" >
            {{restaurant.RestaurantName}}
            <ion-icon name="ios-arrow-right"></ion-icon>
          </ion-card-title>
          
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col col-4 class="itemCol" >
      <ion-navbar color="primary" >
        <ion-title>
          Items
        </ion-title>
        <ion-buttons end>
            <button ion-button >{{menuItems.length}}</button>
          </ion-buttons>
      </ion-navbar>
      <ion-card *ngIf="!menuItems.length" >
        <ion-card-content>
          <ion-card-title>
            No items
          </ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-card *ngFor="let menuItem of menuItems">
        <ion-card-content>
          <ion-card-title>
            {{menuItem.Name}}
          </ion-card-title>
          <ion-item>
            <p item-start>Price</p>
            <p item-end>{{menuItem.Price}} </p>
          </ion-item>
          <ion-item>
            <p item-start>Ordered</p>
            <p item-end>{{menuItem.Ordered}} </p>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>



  </ion-row>
</ion-grid>








</ion-content>
